<!DOCTYPE html>
<html>
  <head>
    <title>SHOPDROP</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!-- link angular scripts and app.js here -->
  </head>

  <body>
    <h1><a href="/">Welcome to SHOPDROP</a></h1>
    {{{body}}}

  </body>

</html>
